.header-wrapper {
    background: #BBBBBB;
    border-bottom:1px solid gray;
}
.header-wrapper > div {
    float:left;
}
.sidebar-left-wrapper {
    float:left;
    box-sizing: border-box;

}
.sidebar-right-wrapper {
    float:right;
      box-sizing: border-box;

}

.clearfix:after {
	clear: both;
	display: block;
	content: " ";
	height: 0px;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}


#above-content {
    border:6px dashed gray;
}

#content {
    float:left;
    border:1px dotted teal;
    box-sizing:border-box;
}

.content-wrapper {
    border:2px solid tan;
}

.full-width {
    width :100%;  
}

.three-fourths {
    width:75%  
}

.one-fourth {
    width:25% 
}
.one-half { width:50%;
}

